<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/privacy_policy.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" href="../static/assets/logo.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../static/assets/logo.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Asap:wght@200;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css">

  <title>Fresh and Pure</title>

</head>

<body>
  <div class="contact-section">
    <div class="container contact-container">
      <div class="contact-offline">
        <div class="envelope-section">
        <i class="fa-solid fa-envelope" style="color: #FFD43B;"></i>
        <p><a href="">freshpure.in@gmail.com</a></p>
          </div>
          <div class="location-section">
        <i class="fa-solid fa-location-dot" style="color: #FFD43B;"></i>
        <p><a href="">3/293, state Bank Colony, NGGO Colony, Thudiyalur, Tamil Nadu 641022</a></p>
      </div>
        <div class="phone-section">
        <i class="fa-solid fa-phone" style="color: #FFD43B;"></i>
        <p><a href="">+919442917151</a></p>
      </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg   d-lg-flex">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="../static/assets/logo.png" alt="Logo">
      </a>
      <h1 class="navbar-brand mx-auto">Fresh and Pure</h1>
    </div>
  </nav>
  <div class="container policy-container">
    <div class="buttons-section">
      <button class="btn-active"><a href="{{ url_for('privacy_policy')}}">Privacy Policy</a></button>
      <button class="btn-inactive"><a href="{{ url_for('refund_policy')}}">Refund Policy</a></button>
      <button class="btn-inactive"><a href="{{ url_for('terms_and_condition')}}">Terms and Conditions</a></button>
    </div>
    
    <h1>Privacy Policy</h1>

    <p>Thank you for choosing Fresh & Pure, the farm products delivery app. We are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our mobile application ("App") and our services.</p>

    <h2>Information We Collect</h2>

    <p>When you register an account with our App, we may collect certain personal information from you, including but not limited to your name, email address, phone number, and delivery address. We may also collect your current location if you choose to provide it to us for the purpose of delivering products to your current location.</p>

    <h2>How We Use Your Information</h2>

    <p>We use the information we collect from you to:</p>
    <ul>
        <li class="li-1"><i class="fa-solid fa-square-check" style="color: #FFD43B; padding: 0 10px;"></i>Provide, operate, and maintain our services.</li>
        <li class="li-1"><i class="fa-solid fa-square-check" style="color: #FFD43B; padding: 0 10px;"></i>Process your orders and deliver farm products to your doorstep.</li>
        <li class="li-1"><i class="fa-solid fa-square-check" style="color: #FFD43B; padding: 0 10px;"></i>Communicate with you regarding your orders, account information, and updates about our services.</li>
        <li class="li-1"><i class="fa-solid fa-square-check" style="color: #FFD43B; padding: 0 10px;"></i>Personalize your experience and improve our services.</li>
        <li class="li-1"><i class="fa-solid fa-square-check" style="color: #FFD43B; padding: 0 10px;"></i>Personalize your experience and improve our services.</li>
        <li><i class="fa-solid fa-square-check" style="color: #FFD43B; padding: 0 10px;"></i>Ensure the security of our App and prevent fraud.</li>
    </ul>

    <h2>Disclosure of Your Information</h2>

    <p>We may disclose your personal information to third-party service providers who assist us in providing our services, such as delivery partners and payment processors. We may also disclose your information in response to a lawful request by public authorities, such as to comply with a court order or government regulation.</p>

    <h2>Data Security</h2>

    <p>We take the security of your personal information seriously and implement reasonable security measures to protect it from unauthorized access, disclosure, alteration, or destruction.</p>

    <h2>Your Choices</h2>

    <p>You have the right to access, update, or delete your personal information stored in our App. You can also opt-out of receiving promotional communications from us by following the unsubscribe instructions provided in those communications.</p>

    <h2>Changes to This Policy</h2>

    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions or concerns about our Privacy Policy or our handling of your personal information, please contact us at <a href="mailto:freshpure.in@gmail.com">freshpure.in@gmail.com</a> or call us at <a href="tel:+919442917151">094429 17151</a>. You can also visit us at 3/293, State Bank Colony, NGGO Colony, Thudiyalur, Tamil Nadu 641022.</p>
  </div>
  <div class="footer" id="footer">
    <div class="container">
      <div class="company-details">
        <div class="company-name">
          <h1>Fresh and Pure</h1>
        </div>
        <div class="company-para">
          <p>Cows are milked with hands and Delivered in ecofriendly glass bottles in few hours of milking.</p>
        </div>
      </div>
      <div class="row footer-row">
        <div class="col-md-4 first-col">
          <div class="footer-heading">
            <h1>Write Us</h1>
            <p>freshpure.in@gmail.com</p>
          </div>
        </div>
        <div class="col-md-4 first-col">
          <div class="footer-heading">
            <h1>Address</h1>
            <p>3/293, state Bank Colony, NGGO Colony, Thudiyalur, Tamil Nadu 641022</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-heading">
            <h1>Phone</h1>
            <p>+919442917151</p>
          </div>
        </div>
      </div>

      <div class="footer-end">
        <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
        <a href="{{ url_for('refund_policy') }}">Refund Policy</a>
        <a href="{{ url_for('terms_and_condition') }}">Terms and Conditions</a>
        <!-- <p><span>Like-themes</span> © All Rights Reserved - 2020 - <span>Purchase</span></p> -->
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>