<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/refund_policy.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" href="../static/assets/logo.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../static/assets/logo.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Asap:wght@200;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css">

  <title>Fresh and Pure</title>

</head>

<body>
  <div class="contact-section">
    <div class="container contact-container">
      <div class="contact-offline">
        <div class="envelope-section">
        <i class="fa-solid fa-envelope" style="color: #FFD43B;"></i>
        <p><a href="">freshpure.in@gmail.com</a></p>
          </div>
          <div class="location-section">
        <i class="fa-solid fa-location-dot" style="color: #FFD43B;"></i>
        <p><a href="">3/293, state Bank Colony, NGGO Colony, Thudiyalur, Tamil Nadu 641022</a></p>
      </div>
        <div class="phone-section">
        <i class="fa-solid fa-phone" style="color: #FFD43B;"></i>
        <p><a href="">+919442917151</a></p>
      </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg   d-lg-flex">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="../static/assets/logo.png" alt="Logo">
      </a>
      <h1 class="navbar-brand mx-auto">Fresh and Pure</h1>
    </div>
  </nav>
  <div class="container policy-container">
    <div class="buttons-section">
      <button class="btn-inactive"><a href="{{ url_for('privacy_policy')}}">Privacy Policy</a></button>
      <button class="btn-active"><a href="{{ url_for('refund_policy')}}">Refund Policy</a></button>
      <button class="btn-inactive"><a href="{{ url_for('terms_and_condition')}}">Terms and Conditions</a></button>
    </div>
    <h1>Refund Policy</h1>

    <p>Welcome to Fresh & Pure! We are committed to providing you with fresh farm products and exceptional service. Our Refund Policy outlines the process for cancellations and refunds associated with the use of our farm products delivery app ("App"). Please review the following policy:</p>

    <h2>Customer Cancellation</h2>

    <p>At Fresh & Pure, we understand that circumstances may change. Therefore, customers have a 5-minute window from the time of placing an order to initiate a cancellation. Once this time frame elapses, orders cannot be canceled. We reserve the right to deny refunds for cancellations requested beyond this period.</p>

    <h2>Refunds</h2>

    <p>Refunds for canceled orders will be processed within 5 to 7 business days from the date of cancellation. The refunded amount will be credited back to the original payment source used by the customer. Please note that no returns are accepted.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions or concerns about our Refund Policy, please don't hesitate to reach out to us. You can contact Fresh & Pure via email at <a href="mailto:freshpure.in@gmail.com">freshpure.in@gmail.com</a> or by phone at <a href="tel:+919442917151">094429 17151</a>. Additionally, you're welcome to visit us at 3/293, State Bank Colony, NGGO Colony, Thudiyalur, Tamil Nadu 641022.</p>
  </div>
  <div class="footer" id="footer">
    <div class="container">
      <div class="company-details">
        <div class="company-name">
          <h1>Fresh and Pure</h1>
        </div>
        <div class="company-para">
          <p>Cows are milked with hands and Delivered in ecofriendly glass bottles in few hours of milking.</p>
        </div>
      </div>
      <div class="row footer-row">
        <div class="col-md-4 first-col">
          <div class="footer-heading">
            <h1>Write Us</h1>
            <p>freshpure.in@gmail.com</p>
          </div>
        </div>
        <div class="col-md-4 first-col">
          <div class="footer-heading">
            <h1>Address</h1>
            <p>3/293, state Bank Colony, NGGO Colony, Thudiyalur, Tamil Nadu 641022</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-heading">
            <h1>Phone</h1>
            <p>+919442917151</p>
          </div>
        </div>
      </div>


      <div class="footer-end">
        <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
        <a href="{{ url_for('refund_policy') }}">Refund Policy</a>
        <a href="{{ url_for('terms_and_condition') }}">Terms and Conditions</a>
        <!-- <p><span>Like-themes</span> © All Rights Reserved - 2020 - <span>Purchase</span></p> -->
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>